 
 
 
 <h2>Form</h2>
 <h3>Enter your details here..</h3>
 <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
   <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <image-upload  (uploadFinished)="onUploadFinished($event)"
                  formControlName="image"></image-upload>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input   class="form-control" type="text" placeholder="Email" formControlName="Email" ><br>
                     <input class="form-control" type="date" placeholder=" DOB"  formControlName="DOB"><br><br>
                     <button class="btn btn-primary submit" type="submit">Submit</button>
                    <!--<button class="btn btn-primary submit" type="button" (click)="showImage(tempDelete)">Image</button>-->
                </div>
            </div>
           
        </div>
 </form>

 <hr>
<div class="container">
      <table class=" table table-striped">
        <thead>
            <tr>
                <td>Email</td>
                <td>DOB</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts;let i = index">
                <td> {{post.Email}}  </td>
                <td>{{post.DOB}}</td>
                <!--<td>{{post.image}}</td>  -->
                <td><img src="{{post.Image}}" style="width:50px;height:50px;"></td>
            </tr>
        </tbody>
    </table>
</div>

